{% extends 'warikan/base.html' %}
{% block content %}
      <table border=1 id=container>
        <tr>
          <th>date</th><th>item</th><th>payer</th><th>amount</th><th>edit</th>
        </tr>
          {% for trac in tracs %}
        <tr>
          <td>{{ trac.date }}</td>
          <td>{{ trac.item }}</td>
          <td>{{ trac.payer }}</td>
          <td>{{ trac.amount }}</td>
          {% if user.is_authenticated %}
            <td><a class="btn btn-default" href="{% url 'post_edit' pk=trac.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
          {% else %}
            <td>cannot edit</td>
          {% endif %}
        </tr>
          {% endfor %}
      </table>
{% endblock %}
